[build-system]
requires = ["setuptools>=61.2"]
build-backend = "setuptools.build_meta"

[tool.pylint.BASIC]
good-names = 'e,f,i,n,io'  # exception, file, enumerate, number

[tool.pylint.'MESSAGES CONTROL']
disable = [
  'too-many-arguments',
  # Defer to flake8
  'line-too-long',
  # Defer to pydocstyle
  'missing-module-docstring',
  'missing-class-docstring',
  'missing-function-docstring',
]
