interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://standard.open-contracting.org/latest/en/release-package-schema.json
  response:
    body:
      string: "{\n  \"id\": \"https://standard.open-contracting.org/schema/1__1__4/release-package-schema.json\"\
        ,\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\"\
        : \"Schema for an Open Contracting Release Package\",\n  \"description\":\
        \ \"The release package contains a list of releases along with some publishing\
        \ metadata.\",\n  \"type\": \"object\",\n  \"required\": [\n    \"uri\",\n\
        \    \"publisher\",\n    \"publishedDate\",\n    \"releases\",\n    \"version\"\
        \n  ],\n  \"properties\": {\n    \"uri\": {\n      \"title\": \"Package identifier\"\
        ,\n      \"description\": \"The URI of this package that identifies it uniquely\
        \ in the world. Recommended practice is to use a dereferenceable URI, where\
        \ a persistent copy of this package is available.\",\n      \"type\": \"string\"\
        ,\n      \"format\": \"uri\"\n    },\n    \"version\": {\n      \"title\"\
        : \"OCDS schema version\",\n      \"description\": \"The version of the OCDS\
        \ schema used in this package, expressed as major.minor For example: 1.0 or\
        \ 1.1\",\n      \"type\": \"string\",\n      \"pattern\": \"^(\\\\d+\\\\.)(\\\
        \\d+)$\"\n    },\n    \"extensions\": {\n      \"title\": \"OCDS extensions\"\
        ,\n      \"description\": \"An array of OCDS extensions used in this package,\
        \ in which each array item is the URL of an extension.json file.\",\n    \
        \  \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\
        ,\n        \"format\": \"uri\"\n      }\n    },\n    \"publishedDate\": {\n\
        \      \"title\": \"Published date\",\n      \"description\": \"The date that\
        \ this package was published. If this package is generated 'on demand', this\
        \ date should reflect the date of the last change to the underlying contents\
        \ of the package.\",\n      \"type\": \"string\",\n      \"format\": \"date-time\"\
        \n    },\n    \"releases\": {\n      \"title\": \"Releases\",\n      \"description\"\
        : \"An array of one or more OCDS releases.\",\n      \"type\": \"array\",\n\
        \      \"minItems\": 1,\n      \"items\": {\n        \"$ref\": \"https://standard.open-contracting.org/schema/1__1__4/release-schema.json\"\
        \n      },\n      \"uniqueItems\": true\n    },\n    \"publisher\": {\n  \
        \    \"title\": \"Publisher\",\n      \"description\": \"Information to uniquely\
        \ identify the publisher of this package.\",\n      \"type\": \"object\",\n\
        \      \"properties\": {\n        \"name\": {\n          \"title\": \"Name\"\
        ,\n          \"description\": \"The name of the organization or department\
        \ responsible for publishing this data.\",\n          \"type\": \"string\"\
        \n        },\n        \"scheme\": {\n          \"title\": \"Scheme\",\n  \
        \        \"description\": \"The scheme that holds the unique identifiers used\
        \ to identify the item being identified.\",\n          \"type\": [\n     \
        \       \"string\",\n            \"null\"\n          ]\n        },\n     \
        \   \"uid\": {\n          \"title\": \"uid\",\n          \"description\":\
        \ \"The unique ID for this entity under the given ID scheme.\",\n        \
        \  \"type\": [\n            \"string\",\n            \"null\"\n          ]\n\
        \        },\n        \"uri\": {\n          \"title\": \"URI\",\n         \
        \ \"description\": \"A URI to identify the publisher.\",\n          \"type\"\
        : [\n            \"string\",\n            \"null\"\n          ],\n       \
        \   \"format\": \"uri\"\n        }\n      },\n      \"required\": [\n    \
        \    \"name\"\n      ]\n    },\n    \"license\": {\n      \"title\": \"License\"\
        ,\n      \"description\": \"A link to the license that applies to the data\
        \ in this package. A Public Domain Dedication or [Open Definition Conformant](http://opendefinition.org/licenses/)\
        \ license is recommended. The canonical URI of the license should be used.\
        \ Documents linked from this file may be under other license conditions.\"\
        ,\n      \"type\": [\n        \"string\",\n        \"null\"\n      ],\n  \
        \    \"format\": \"uri\"\n    },\n    \"publicationPolicy\": {\n      \"title\"\
        : \"Publication policy\",\n      \"description\": \"A link to a document describing\
        \ the publishers [publication policy](https://standard.open-contracting.org/latest/en/implementation/publication_policy/).\"\
        ,\n      \"type\": [\n        \"string\",\n        \"null\"\n      ],\n  \
        \    \"format\": \"uri\"\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"eeb-58c37a04c5400"'
      Last-Modified:
      - Wed, 26 Jun 2019 10:37:04 GMT
    status:
      code: 200
      message: OK
version: 1
