name: CI
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', pypy-3.11]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - run: pip install .[test]
      # Print the ijson backend, to make any errors easier to debug.
      - run: python -c "import ijson; print(ijson.backend)"
      # "orjson does not support PyPy" and fails to install. https://pypi.org/project/orjson/
      - if: matrix.python-version == 'pypy-3.11'
        name: Test
        # DeprecationWarning https://github.com/requests-cache/requests-cache/issues/845
        run: coverage run --source=ocdskit -m pytest -W error -W default::ocdsmerge.exceptions.DuplicateIdValueWarning -W ignore::DeprecationWarning:requests_cache.models.response
      - if: matrix.python-version != 'pypy-3.11'
        name: Test
        env:
          PYTHONUTF8: 1
        shell: bash
        # DeprecationWarning https://github.com/requests-cache/requests-cache/issues/845
        run: |
          coverage run --source=ocdskit --append -m pytest -W error -W default::ocdsmerge.exceptions.DuplicateIdValueWarning -W ignore::DeprecationWarning:requests_cache.models.response
          pip install orjson
          coverage run --source=ocdskit --append -m pytest -W error -W default::ocdsmerge.exceptions.DuplicateIdValueWarning -W ignore::DeprecationWarning:requests_cache.models.response
          pip uninstall -y orjson
      - if: matrix.python-version != 'pypy-3.11'
        name: Save libcove performance
        env:
          BENCHMARK_SAVE: 1
        run: pytest --benchmark-save=libcove --benchmark-only
      - if: matrix.os != 'macos-latest' && matrix.python-version != 'pypy-3.11'
        run: pytest --benchmark-only --benchmark-compare=0001 --benchmark-compare-fail=mean:10%
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
